.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    height: 70px;
    width: 100%;
    color: white;
    background-color:  rgb(72, 65, 65);
}

.navLink{
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    margin: 0 3px;
    transition: .2s ease;
}
.navLink:hover{
    background-color: rgb(41, 41, 41);
}

.signin{
    font-size: 13px;
    background-color: rgb(95, 94, 94);
}

a{
    color: white;
}

.navbarMidContainer{
    display: flex;
}
.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-bottom: 1px solid gray;
    background-color: rgb(79, 79, 79);
    padding: 10px;
}

.searchWrapper{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: 1px solid white;
    padding: 5px;
}
.searchInput{
    border: none;
    padding: 5px;
    border-radius: 15px;
    background-color: none;
    outline: none;
}

.searchActive{
    border: 1px solid red;
}
.icon{
    color: black;
    font-size: 23px;
}